[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
wandb = "*"
prettytable = "*"
seaborn = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
tqdm = "*"
grad-cam = "*"
lime = "*"
scikit-image = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.10"
